<!doctype html>
<html>
<head>
    <title>Bar Inventory</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Inventory</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> User:</h3>
                <p>Add inventory items to your list with the quantity in stock, you may update this quantity at any time. Items low in stock will be flagged for high priority.</p>
                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">
          <h2>Add items:</h2>
          <form action="/messages" method="POST">
            <input type="text" placeholder="product name" name="name">
            <input type="number" placeholder="quantity" name="quantity">
            <button type="submit">Submit</button>
          </form>
          <h3>Low in stock:</h3>
          <ul class='lowQuantity' >
            <% for(var i=0; i<lowQuantity.length; i++) {%>
              <li class="lowQuantity">
                <span><%= lowQuantity[i].name %></span>
                <span class='<%= lowQuantity[i].quantity < 3 ? "alert" : "" %>'><%= lowQuantity[i].quantity %></span>
              </li>
            <% } %>
            </ul>
          <h3>Item:</h3>
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li class="message">
              <span><%= messages[i].name %></span>
              <span><%= messages[i].quantity %></span>
              <input type="number" name="amount" placeholder="update bottle count">
              <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>
      </div>  
</div>

<script src="main.js"></script>

</body>
</html>
